@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(muli.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: local('Muli'), url(muli-italic.ttf) format('truetype');
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
  background-color: #F8F8FF;
  font-family: "Muli", sans-serif;
  font-size: 14px;
}

li {
	list-style-type: square;
}


#container {
	background-color: #FFF888;
	border-style: double;
	border-color: #000000;
	position: relative;
	height:100%;
	width: 60%;
	padding: 10px 20px 20px 20px;
	margin-left: 20%;
	text-align: justify;
}

.footnote-number {
  float:left;
  width: 2em;
}

.footnote-body {
  margin-left: 2em;
}

#container h1 {
	text-align: center;
}

#footer {
	width:100%;
	text-align:center;
	margin:auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	position:relative;
	bottom:0;

}

#footer img {
	border: none;
	vertical-align: middle;
}

/*
   ******
menu horizontal
   ******
*/

.flat_list {
  margin: auto;
  padding-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.flat_list a {
  text-decoration: none;
}

.flat_list ul {
  padding-left: 25px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.flat_list li {
  line-height: 30px;
  margin: 3px;
  display: inline;
  list-style-type: none;
}

.flat_list a:hover {
	background-color: #FFF888;
}

/*
   ******
Images
   ******
*/

#constructivism {
	float : right;
	padding: 5px;
}

#constructivism img {
	border: none;

}

#flag {
	vertical-align: middle;
	border: none;
}

/*
   ******
Définitions des éléments d'article
   ******
*/
.quote {
	margin-left: 25px;
	margin-right: 25px;
	font-style: italic;
	padding: 10px;
	border: 1px solid;
}

#chapo {
	font-weight: bold;
	font-size: 17px;
}

.title {
  font-style: italic;
}

/*
   ******
Définitions des classes de span
   ******
*/

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.danger {
	font-weight:bold;
	color:red;
}

.date-item {
  text-decoration: underline;
}

/*
   ******
Définitions des classes utilisées dans un post
   ******
*/

.img_links a {
	text-decoration: none;
}

.img_links img:hover {
  background-color:#F8F8FF;
}

.bdocs {
  float: right;
  width: 25%;
  margin-right: -27%;
  margin-top: -10px;
  background-color: #FFF888;
  border-style: double;
  border-color: #000000;
}

.quote {
  margin: auto;
  padding-left: 12px;
  border-width: 0 0 0 3px;
  border-style: double;
  border-color: #666;
  width: 85%; /* or whatever you prefer */
}

.bdocs ul {
  padding-left: 25px;
}

.date {
  float: right;
}

.code {
  line-height: 150%;
  font-family: monospace;
  padding: 5px;
  padding-left: 12px;
  white-space: pre;
  background-color: #F8F8F8;
  color: #000; /* likewise the background-color comment */
  border: 1px solid #666;
  width: 85%; /* or whatever you prefer */
  margin:auto;
}

.inline-code {
  padding: 1px;
  font-family:monospace;
  white-space: pre;
  background-color: #F8F8F8;
/*  border: 1px solid #666; */
}

.bad {
  background-color: #FFB8B8;
  color: #000; /* likewise the background-color comment */
}

.docs {
	float:right;
}

.post {
	width: 75%;
	margin: auto;
	margin-bottom: 40px;
}

.post_top {
	width: 95%;
	margin: auto;
}

.post_top h2 {
	font-size: 18px;
	margin-bottom: -15px;
}

.post_abstract {
	margin-right: 200px;
	text-align: justify;
}

.post_abstract ul {
	list-style-type:none;
	margin-top: -10px;
	margin-bottom: -10px;
}

.post_abstract li{
    background: url("img/puce.png") left 4px no-repeat;
    padding: 0px 2px 2px 10px;
}

.post_files {
	float:right;
	background-color:#FFFF99;
	width:150px;
	border:2px solid #FFCC33;
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
}

.post_files h3 {
	text-align:center;
	border-bottom:1px solid #FFCC33;
	margin: 2px auto 2px;
}

.post_files ul {
	list-style-type:square;
	margin: 0px;
	margin-left: -10px;
}

.post_files li {
	font-size:90%;
	margin-left:5px;
}

.post_spacer {
  clear: both;
}

